<%- include('../partials/header') %>

<h1>Admin Dashboard</h1>

<a
    href="/admin/jobs/new"
    class="btn btn-success">
    + Add New Job
</a>

<hr>

<ul>
    <li>Manage Jobs</li>
    <li>Delete Jobs</li>
    <li>Edit Jobs</li>
</ul>

<a href="/admin/jobs" class="btn btn-primary">
    Manage Jobs
</a>

<a href="/admin/logout" class="btn btn-danger">
    Logout
</a>

<%- include('../partials/footer') %>