<%- include('partials/header') %>

<h1>About Us</h1>
<p>
Welcome to Job Notification Portal. We provide Tech, Non-Tech, and Internship opportunities for students and job seekers.
</p>

<%- include('partials/footer') %>